/* code is qr-code */

:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
  --border_radius: 2rem;

  --padding-small: 0.5rem 1.2rem;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: var(--Light_gray);
  font-family: "Outfit", sans-serif;
}
.qr-code-card {
  position: absolute;
  background: var(--White);
  border-radius: var(--border_radius);
  height: 31rem;
  width: 20rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.4rem 3rem 0 hsla(219, 15%, 55%, 0.824);
}
.qr-code {
  border-radius: var(--border_radius);
  width: 90%;

  padding: 1rem 1rem 0 1rem;
}
.qr-code-header,
.qr-code-text {
  padding: var(--padding-small);
  margin: 0;
  text-align: center;
}
.qr-code-header {
  padding-top: 1.2rem;
  font-weight: 700;
  color: var(--Dark_blue);
  font-size: 1.5rem;
}
.qr-code-text {
  font-weight: 400;
  color: var(--Grayish_blue);
  font-size: 1rem;
}
